<a data-toggle="modal" href="#myModal" class="compose-new-tweet btn">Compose new tweet</a>
<div class="modal hide fade in" id="myModal"> <%=render "form" %> </div>
<% content_for :sidebar do %>
  <%if @tweets.size > 0%>
    <ul class="nav nav-list">
      <li class="nav-header">Recent tweets</li>
    	<% @tweets.each_with_index do |item| %>
    	  <li><%= link_to "- #{item.content.truncate(100)}", tweet_path(item) if item.id?%></li>
    	<% end %>    
    </ul>
  <%end%>
<% end %>



