<a data-toggle="modal" href="#myModal" class="compose-new-tweet btn pull-right">Compose new tweet</a>
<div class="modal hide fade in" id="myModal"> <%=render :partial => "form", :locals => {:tweet => Tweet.new} %> </div>
<br/>
<hr>
<%=render "/tweets/show_tweets"%>
<% content_for :sidebar do %>
      <%= render '/shared/accounts_connect' %>
<% end %>