
<%=link_to "Connect with Twitter", user_omniauth_authorize_path(:twitter),
:class => "btn btn-primary twitter" if !current_user.accounts.has_account("twitter").present?%>
<div>&nbsp;</div>  

<%=link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook),
:class => "btn btn-primary facebook" if !current_user.accounts.has_account("facebook").present?%>
<div>&nbsp;</div>  

<%=link_to "Connect with LinkedIn", user_omniauth_authorize_path(:linkedin),
      :class => "btn btn-primary linkedin" if !current_user.accounts.has_account("linkedin").present?%>

