<%= form_for current_user || User.new, :html => { :class => 'form-horizontal email-form' } do |f| %> 
  <div class="control-group">
    <%= f.label :email, "*Enter your Email-id:", :class => "control-label"%>
    <div class="controls">
      <%= f.text_field :email, :placeholder => 'Enter email....', 
      :class => "input-xlarge" %>
    </div>
  </div>
<% end %>