<footer>
  <p class='footer-content'> 
<strong>ShareOnSchedule&nbsp;&copy;&reg;</strong>
    |
    <%= link_to "Home", root_path %>
    |
    <%= link_to "About Us", "#" %>
  </p>
  <p></p>
    <small>All Rights Reserved.&nbsp;<i>Development Platform&nbsp;- Ruby on Rails,&nbsp;
Powered By</i><b>- Idyllic Software 2012&nbsp;&copy;&reg;</b></small>
</footer>