<footer>
  <p class='footer-content'> 
<strong>ShareOnSchedule&nbsp;&copy;&reg;</strong>
    |
    <%= link_to "Home", root_path %>
    |
    <%= link_to "About Us", "#" %>
  </p>
  <p></p>
    <small>All Rights Reserved.</small>&nbsp;<i><small>Development Platform</i>
    &nbsp;- Ruby on Rails,&nbsp;
 <i>Powered By </i> <b>- Idyllic Software 2012&nbsp;&copy;&reg;</b></small>
</footer>