<%if user_signed_in?%>
<%=render 'shared/email' if current_user.email.blank? %>
<%end%>
<p class="lead">
	Busy Schedule !!!!...??? 
</p>
<p>
	Unable to Track/Report Your Daily-Updates ? and Post on Social Networking Websites ?
</p>
<p>
	No Worries !!! :-)
</p>
<p>
	Now you can post your content, on Facebook, Twitter and LinkedIn through this Powerful <strong>ShareOnSchedule</strong> WebApp.</p>
	<p> 
	This Astonishing WebApp will pop-up your updates as per your mentioned schedule date and time.
</p>
<p>
  You Just need to select the day and time for posting your content, 
</p>
<p>
  and this WebApp will take care of your requirements and do the needful.
</p>
<p>
	So, Stay Connected ! with everyone, through <strong>ShareOnSchedule</strong> WebApp.
<p>
	<p>
  Hope ! You Enjoy using <strong>ShareOnSchedule</strong> WebApp Product !!!
	</p>
<p>
</br>
</p>
Cheers !<b>&nbsp;&nbsp;
<strong><i>-<a href = "/developers.html">ShareOnSchedule Team</a></i>&nbsp;
</strong>&copy;&reg;</b>