<p class="lead">
	Busy schedule! Unable to track daily updates and post on social networking sites.Now you can push your Tweet, Post on Facebook and LinkedIn and ShareOnSchedule will pop up updates as per your schedule. Stay connected.
<p>
<p>
	-	ShareOnSchedule Team
</p>