development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: ShareOnSchedule_development
  pool: 5
  username: root
  password: thakkar


test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: ShareOnSchedule_test
  pool: 5
  username: root
  password: thakkar


production:
  adapter: mysql2
  encoding: utf8
  database: <%=ENV['OPENSHIFT_APP_NAME']%>
  pool: 5
  username: root
  password: thakkar
  socket: /var/run/mysqld/mysqld.sock
