/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datetimepicker
 *= require_tree .
 */

/*.twitter,.facebook,.linkedin,.signin
{
  width: 60%;
  height: 25px;

}*/

/* .container
 {
   padding-top: 10px;
 }
*/

/*.btn-primary
{
  background-color: #00ACED;
}*/
/*body{background:url(/assets/debut_light.png);background-size:100% 100%;}*/
/*.span8,.span3{background-color: white;padding: 10px 10px;border-radius: 4px;}
h2.block-head{color: #4C0B5F;}
/* sign in page */

/*.formInput {margin-left: 40px; font:normal 12px verdana;}
.Links {margin-left: 40px; font:normal 22px verdana;}
.remember{margin: 10px 0 10px 0;}
.remember.divider{display:block; padding:0 5px}
.fl {float:left} 
.fr {float:right}*/


