// Place all the styles related to the linkedins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.datetime
{
  width : 100px;
}

.form_linkedin
{
  border: solid 1px;
  border-color: #BDBDBD;
}
#ui-datepicker-div{
  z-index:1060;
}