// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.datetime
{
  width : 100px;
}

.form_tweet
{
  border: solid 1px;
  border-color: #BDBDBD;
}
#ui-datepicker-div{
  z-index:1060;
}
/*div.tweets-list
{
  border-radius: 5px;
  margin-top: 20px;
  background-color: #2E2E2E;
 
}*/

.each-tweet a,.each-tweet
{
  border-radius: 3px;
  background-color: #A4A4A4;
  margin: 10px 5px 10px 5px;
  color: white;
  padding: 5px 5px;
}